PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/zynetra
GMAIL_USER=krajeshpachori@gmail.com
GMAIL_APP_PASSWORD=eymq sagw nmwy hjwq
LEAD_NOTIFICATION_TO=krajeshpachori@gmail.com
